.center.jumbotron
  %h1
    Welcome to Hotelius!
    %br/
    %small
      The best hotel raiting site
  - if user_signed_in?
    = link_to 'Add new hotel', new_hotel_path, class: 'btn btn-danger btn-lg'
  - else
    = link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-danger btn-lg'
%h3
  .center This is the list of TOP 5 hotels
%br/

= render 'hotels/hotels'