.center.jumbotron
  %h1
    Welcome to Hotelius!
    %br
    %small
      The best hotel raiting site

  = link_to "Sign up now!", new_user_registration_path, class: "btn btn-danger btn-lg"
%h3
  This is the list of TOP 5 hotels

%h4
  = link_to 'Sign in ', new_user_session_path
  to#{link_to ' add new hotel', new_hotel_path}