@import "bootstrap";

/* mixins, variables, etc. */

$img_path: '/assets/';

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.list-inline {
	span {
		float: left;
		padding: 15px 5px;
		color: $grayMediumLight;
	}
	.sign_out {
		color: red !important;
    &:hover {
      color: white;
      text-decoration: none;
    }
	}
}


/* header */

#logo {
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  width: 130px;
  height: 37px;
  background: url($img_path + 'Logo260x75red.png') no-repeat;
  background-size: 100%;
  cursor: pointer;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}