.row
  .col-md-12
    %table.table.table-hover
      %thead
        %tr.danger
          %th.col-md-2 Title
          %th.col-md-2 User raiting
          %th.col-md-3 Room description
          %th.col-md-3 Price
          %th.col-md-2 Foto
          %th.col-md-2 Del
      - @hotels.each do |hotel|
        = render partial: 'hotels/hotel', locals: {hotel: hotel}