<h1>Listing hotels</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
      <tr class="danger">
        <th class="col-md-1">Show</th>
        <th class="col-md-2">Title</th>
        <th class="col-md-2">Raitings</th>
        <th class="col-md-2">Aver_raiting</th>
        <th class="col-md-3">Description</th>
        <th class="col-md-3">Address</th>
        <th class="col-md-2">Foto</th>
        <th class="col-md-1">Delete!</th>
      </tr>
      </thead>

      <% @hotels.each do |hotel| %>
        <tbody>
        <tr>
          <td><%= link_to 'Show', hotel_path(hotel.id) %></td>
          <td><b><%= hotel.title %></b><span> stars: </span><%= hotel.stars %></td>
          <td>
            <% hotel.raitings.each do |r| %>
              <p><%= r.raiting %></p>
            <% end %>
          </td>
          <td><%= hotel.aver_raiting %></td>
          <td>
            <p><%= hotel.rooms %></p>
            <p>Price: <%= hotel.price %></p>
            <p>Breakfast:
              <% if hotel.breakfast %>
                <b>present</b>
              <% else %>
                <b>no breakfast</b>
              <% end %>
            </p>
          </td>
          <td>
            <ul class="list-unstyled">
              <li>Country: <%= hotel.address.country %></li>
              <li>State: <%= hotel.address.state %></li>
              <li>City: <%= hotel.address.city %></li>
              <li>Street: <%= hotel.address.street %></li>
            </ul>
          </td>
          <td>
            <%= image_tag hotel.foto.url.to_s, height: '100px' if hotel.foto? %>
          </td>
          <td>
            <%= link_to 'X', hotel_path(hotel), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
        </tbody>
      <% end %>
    </table>

    <%= link_to 'Add Hotel', new_hotel_path %>
  </div>
</div> 
