<h1>New Hotel</h1>

<div class="col-md-6 col-md-offset-3">

  <% if @hotel.errors.any? %>
    <div id="error_explanation" class="well">
      <h2 class="panel-danger">
        <%= pluralize(@hotel.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul class="list-unstyled">
        <% @hotel.errors.full_messages.each do |msg| %>
          <li class="label-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @hotel do |f| %>
    <%= f.input :title, label: 'Hotel name' %>
    <%= f.input :stars, as: :radio_buttons, collection: 1..5, label: 'Number of stars' %>
    <%= f.input :rooms, :label => 'Hotel description' %>
    <%= f.input :price, :label => 'Price for room' %>
    <%= f.input :breakfast, as: :boolean, :label => 'Breakfast  included' %>
    <%= f.input :foto, :label => 'Upload foto' %>

    <h3>Address</h3>
    <%= f.simple_fields_for :address do |ad| %>
      <%= ad.input :country, as: :string, label: 'Country' %>
      <%= ad.input :state, label: 'State' %>
      <%= ad.input :city, label: 'City' %>
      <%= ad.input :street, label: 'Street' %>
    <% end %>

    <%= f.button :submit, :class => 'btn-danger' %>
  <% end %>

  <br/>
  <%= link_to 'To hotel list', hotels_path %>
</div>

