<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
      <tr class="danger">
        <th class="col-xs-1">Title</th>
        <th class="col-xs-6">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="col-xs-1">Title:</td>
        <td class="col-xs-6"><%= @hotel.title %></td>
      </tr>
      <tr>
        <td class="col-xs-1">Stars:</td>
        <td class="col-xs-6"><%= @hotel.stars %></td>
      </tr>
      <tr>
        <td class="col-xs-1">Rooms:</td>
        <td class="col-xs-6"><%= @hotel.rooms %></td>
      </tr>
      <tr>
        <td class="col-xs-1">Price:</td>
        <td class="col-xs-6"><%= @hotel.price %></td>
      </tr>
      <tr>
        <td class="col-xs-1">Breakfast:</td>
        <% if @hotel.breakfast %>
          <td class="col-xs-6">present</td>
        <% else %>
          <td class="col-xs-6">no breakfast</td>
        <% end %>
      </tr>
      <tr>
        <td class="col-xs-1">Foto:</td>
        <td class="col-xs-6"><%= image_tag @hotel.foto.url.to_s, height: '100px' if @hotel.foto? %>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td class="col-xs-6">
          <ul class="list-unstyled">
            <li>Country: <%= @hotel.address.country %></li>
            <li>State: <%= @hotel.address.state %></li>
            <li>City: <%= @hotel.address.city %></li>
            <li>Street: <%= @hotel.address.street %></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <br>

    <h2>Comments</h2>

      <% @hotel.raitings.each do |raiting| %>
        <div class="well">
          <p>
            <strong>Commenter:</strong>
            <%= raiting.commenter %>
          </p>
          <p>
            <strong>Comment:</strong>
            <%= raiting.comment %>
          </p>
          <p>
            <strong>Raiting:</strong>
            <%= raiting.raiting %>
          </p>
        </div>
      <% end %>


    <h2>Add a comment:</h2>
      <%= simple_form_for([@hotel, @hotel.raitings.build]) do |f| %>
        <p>
          <%= f.label :commenter %><br>
          <%= f.text_field :commenter %>
        </p>

        <p>
          <%= f.label :comment %><br>
          <%= f.text_area :comment %>
        </p>

        <p>
          <%= f.input :raiting, as: :radio_buttons, collection: 1..5 %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>

    <p><%= link_to 'Add Hotel', new_hotel_path %></p>

    <p><%= link_to 'Back to hotel list', hotels_path %></p>
  </div>
</div>
