<footer class="footer">
  <small>
    The RoR based simple hotel advisor aplication.
  </small>
  <nav>
    <ul class="list-unstyled list-inline nav navbar-nav pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Hotels", hotels_path %></li>
    </ul>
  </nav>
</footer>