<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "", root_path, id: "logo" %>
      <nav>
        <ul class="list-unstyled list-inline nav navbar-nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Hotels", hotels_path %></li>
          <% if user_signed_in? %>
            <li>
              <span>Hello, <%= current_user.email %></span>
            </li>
            <li><%= link_to 'Sign out', destroy_user_session_path, class: 'sign_out', :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><span>or</span></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>